<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <main class="content">

        <div class="header">
            <h1 class="header-title">
                Apartado de productos
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/productos']">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Registro</li>
                </ol>
            </nav>
        </div>
        <!-- MENSAJES DE ALERT ERROR Y SUCCESS -->
        <div class="col-12 col-lg-12" *ngIf="error_message">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    {{error_message}}
                </div>
                <button (click)="error_alert()" type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-12" *ngIf="success_message">
            <div class="alert alert-info alert-dismissible" role="alert">
                <div class="alert-message">
                    {{success_message}}
                </div>
                <button (click)="success_alert()" type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        </div>
        <!-- END MENSAJES DE ALERT ERRO Y SUCCESS -->

        <div class="row">

            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <form #productoForm="ngForm" (ngSubmit)="onSubmit(productoForm)">

                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <label><b>Titulo del producto</b></label>
                                    <input type="text" class="form-control" placeholder="Titulo del producto" #titulo="ngModel" name="titulo" [(ngModel)]="producto.titulo" required>
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label><b>Precio compra</b></label>
                                    <input type="number" class="form-control" placeholder="$0" #precio_compra="ngModel" name="precio_compra" [(ngModel)]="producto.precio_compra" required>
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label><b>Precio venta</b></label>
                                    <input type="number" class="form-control" placeholder="$0" #precio_venta="ngModel" name="precio_venta" [(ngModel)]="producto.precio_venta" required>
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label><b>Stock</b></label>
                                    <input type="number" class="form-control" placeholder="0" #stock="ngModel" name="stock" [(ngModel)]="producto.stock" required>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label><b>Descripción</b></label>
                                    <textarea class="form-control" placeholder="Breve descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" required></textarea>
                                </div>

                                <div class="col-lg-4 form-group">
                                    <label><b>Categoría</b></label>
                                    <select class="form-control" #idcategoria="ngModel" name="idcategoria" [(ngModel)]="producto.idcategoria" required>
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="{{categoria._id}}" *ngFor="let categoria of categorias">{{ categoria.titulo.toUpperCase() }}</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label><b>Puntos</b></label>
                                    <input type="number" class="form-control" #puntos="ngModel" name="puntos" [(ngModel)]="producto.puntos" required>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">

                            <img [src]="imgSelect || '../../../../assets/imagen/default.jpg' " class="rounded-0 img-responsive mt-2" width="128" height="145" required>
                            <div class="mt-2">
                                <input class="btn btn-primary" (change)="imgSelected($event)" type="file">
                            </div>
                            <small>
                                    For best results, use an image at least 128px by 128px in .jpg
                                </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>